<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.code.mapper.GoodsMapper">
    <select id="selectPartGoods" resultType="com.guigu.code.pojo.Goods" >
        SELECT * FROM goods where goods_state=0 GROUP BY goods_sales DESC LIMIT 8
    </select>
    <select id="selectGoodById" resultType="com.guigu.code.pojo.Goods" >
        SELECT * FROM goods WHERE id=#{id} and goods_state=0
    </select>
    <select id="selectGoodsByFirstKindId" resultType="com.guigu.code.pojo.Goods">
        SELECT * FROM goods WHERE first_kind_id=#{id} and goods_state=0 GROUP BY goods_sales DESC LIMIT 4
    </select>
    <select id="selectGoodsByGoodName" resultType="com.guigu.code.pojo.Goods">
        SELECT * FROM goods WHERE goods_state=0 AND goods_describe LIKE #{name}
    </select>
</mapper>