<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.code.mapper.MenusMapper">
    <select id="selectbycompetenceid" parameterType="java.lang.Integer" resultType="com.guigu.code.pojo.Menus">
        SELECT menus.*
        FROM competence
                 INNER JOIN competence_menus ON competence.`id` = competence_menus.`competence_id`
                 INNER JOIN menus ON competence_menus.`menus_id` = menus.`id`
        WHERE competence.`id` = #{param1};
    </select>
</mapper>
