<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.code.mapper.MerchantOrderMapper">
    <select id="selectMerchantOrders" parameterType="com.guigu.code.dto.users.MerchantOrderDto" resultType="com.guigu.code.pojo.MyMerchantOrder">
        SELECT mo.* ,goods_id,SUM(goods_amount) AS goods_amount,goods_price,goods_name,image_url,goods_describe,user_nickname FROM merchant_order mo
        inner JOIN merchant_order_detail mol ON mo.id = mol.merchant_order_id
        inner JOIN goods g ON mol.goods_id =g.id
        INNER JOIN user_order uo ON mo.`user_order_id`=uo.id
        INNER JOIN users u ON uo.user_id=u.id
        <where>
            mo.merchant_id=#{merchantId} and mo.stats=#{stats}
            <if test="goodsName != null and goodsName != ''">
                and goods_name like concat('%',#{goodsName},'%')
            </if>
        </where>
        GROUP BY g.goods_name
    </select>
    <select id="selectAllMerchantOrder" parameterType="com.guigu.code.dto.users.MerchantOrderDto" resultType="com.guigu.code.pojo.MyMerchantOrder">
        SELECT mo.* ,goods_id,goods_amount,goods_price,goods_name,image_url,goods_describe,user_nickname FROM merchant_order mo
        INNER JOIN merchant_order_detail mol ON mo.id = mol.merchant_order_id
        INNER JOIN goods g ON mol.goods_id =g.id
        INNER JOIN user_order uo ON mo.`user_order_id`=uo.id
        INNER JOIN users u ON uo.user_id=u.id
        <where>
            mo.merchant_id=#{merchantId} and mo.stats=#{stats}
            <if test="goodsName != null and goodsName != ''">
                and order_number like concat('%',#{goodsName},'%')
            </if>
        </where>
        GROUP BY mo.`order_number`ORDER BY mo.id
    </select>
    <select id="selectMerchantOrderDetail" parameterType="integer" resultType="com.guigu.code.pojo.MyMerchantOrder">
        SELECT mo.* ,goods_id,goods_amount,goods_price,goods_name,image_url,goods_describe,user_nickname FROM merchant_order mo
        INNER JOIN merchant_order_detail mol ON mo.id = mol.merchant_order_id
        INNER JOIN goods g ON mol.goods_id =g.id
        INNER JOIN user_order uo ON mo.`user_order_id`=uo.id
        INNER JOIN users u ON uo.user_id=u.id
        where mo.id=#{merchantOrderId}
    </select>
</mapper>