<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.code.mapper.ShopCartMapper">
    <select id="queryList" resultType="com.guigu.code.pojo.MyShopCart">
        SELECT sc.*, g.`goods_name`, g.`image_url` FROM `shop_cart` sc LEFT JOIN `goods` g ON sc.`goods_id` = g.`id` ORDER BY sc.`id` DESC
    </select>
</mapper>
